// Import the initial variables
@import "../../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../../node_modules/bulma/sass/utilities/functions";

// Import fonts from google
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Quicksand:400,500');

// Set your own initial variables
$blue: #2B3E4F;
$red: #EC4D41;
$dirty-white: #ECF0F1;
$orange: #FFC85F;
$blue-darker: #2B3E4F;
$green: #26BA26;
$blue: #1C7FB7;

$family-title: "Comfortaa", serif;
$family-content: "Quicksand", serif;

// Set the derived variables
$primary: $red;
$dark: $blue;
$link: $red;
$family-primary: $family-title;
$info: $blue-darker;
$warning: $blue;

// For form inputs
$control-border-width: 2px;
$input-background-color: #F7F7F7;
$input-border-color: transparent;
$input-shadow: none;

// For Box class
$box-radius: $radius-small;
$box-shadow: 0 5px 20px rgba($black, 0.25), 0 0 0 0px rgba($black, 0.1);

// Import the rest of Bulma
@import "../../../../node_modules/bulma/bulma";

// Import bulma additional plugins
@import "../../../../node_modules/bulma-slider/src/sass/index";
@import "spacing";