.tags-container {
    overflow: auto;
    max-height: 50%;
}

.add-prod-container {
    height: auto;
    border-radius: 8px;
}

.desc-text-area {
    resize: none;
}

.modal-cropPic {
    height: auto;
    border-radius: 5px;
}

.modal-cropPic-body {
    /*border-radius: 5px;*/
}