body {
    width: 100%;
    height: 100%;
}

.is-three-quarters {
    width: 75%;
}
.is-two-thirds {
    width: 66%;
}
.is-half {
    width: 50%;
}
.is-one-third {
    width: 33%;
}
.is-one-quarter {
    width: 25%;
}

.is-shadowed {
    box-shadow: 0 5px 20px rgba(100,100,100,0.5)
}

.is-vcentered-content {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.is-vlowered-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.field {
    padding-bottom: 6px;
}

.is-input-on-whiteBG {
    background-color: #EAEAEA;
    text-decoration-color: #000;
}

.has-image-centered {
    margin-left: auto;
    margin-right: auto;
}

.has-background-custom-white {
    background-color: #ECF0F1;
}

.icon-box {
    padding: 0.5em;
    width: 72px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(236, 77, 65, 0.40);
    margin-top: -5vh;
}

.icon-circle {
    padding: 0.5em;
    width: 50px;
    border-radius: 50px;
    box-shadow: 0 5px 20px rgba(236, 77, 65, 0.40);
    /*margin-bottom: 1em;*/
    margin-right: 0;
}

.is-fullheight-mod {
    height: 100vh;
}


