
.food-card {
    border-radius: 10px;
}

.food-card-image {
    border-radius: 10px 10px 0 0;
}

.food-card-image-eat {
    border-radius: 8px;
}

.food-card-title {
    border-radius: 0 0 10px 10px;
    padding: 0.5em 1.5em;
}

.liked-cards-container {
    overflow-x: auto;
    overflow-y: hidden;
}

.liked-card {
    border-radius: 10px;
    width: 100px;
    box-shadow: 0;
}

.liked-card-image {
    border-radius: 10px 10px 0 0;
}

.liked-card-title {
    border-radius: 0 0 10px 10px;
    padding: 0.2em 0.725em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cta-icons {
    padding: 0.5em;
    width: 72px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(236, 77, 65, 0.40);
}

.is-fullheight-box {
    height: 90vh;
}

.map-box {
    width: 100%;
    height: 25%;
}

.consumer-feed-page {
    height: 100vh;
    overflow: hidden;
}

.modal-preferences {
    height: auto;
    max-height: 90vh;
}

.modal-eat {
    height: auto;
    max-height: 90vh;
}

.modal-rewards, .modal-uploads{
    height: 90vh;
}

.modal-rewards-body, .modal-uploads-body {
    border-radius: 8px;
}

.community-photos-container {
    overflow-x: auto;
    overflow-y: hidden;
}

.rewards-container, .uploads-container {
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.reward-column, .upload-column {
    position: relative;
}

.reward-figure, .upload-figure {
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(50,50,50,0.25)
}

.reward-figure.is-selected, .upload-figure.is-selected {
    border-radius: 5px;
    box-shadow: 0 0 15px #eb4d40;
}

.reward-info-bg, .upload-info-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(50,50,50,0.1), rgba(50,50,50,.7));
    z-index: 1;
    border-radius: 5px;
}

.reward-info-container, .upload-info-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
}

.reward-info-name, .upload-info-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.modal-nomorefood-body, .modal-card-body-prefs, .reward-img, .upload-img, .modal-eat-body {
    border-radius: 5px;
}

.modal-card-rewardcode {
    border-radius: 5px;
    width: 35vw;
}

.liked-cards-box {
    border-radius: 5px;
}

.modal-cropPic {
    height: auto;
    border-radius: 5px;
}

.community-pics__photo {
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(50,50,50,.25);
}


