.company-card {
    position: relative;
}

.bg-clippath-l {
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-clip-path: polygon(0 0, 28% 0, 24% 100%, 0 100%);
    clip-path: polygon(0 0, 28% 0, 24% 100%, 0 100%);
}

.product-card__cta {
    box-shadow: 0 10px 30px rgba(236, 77, 65, 0.40);
}

.product-card {
    height: 100%;
}

.mapArea {
    width: 600px;
    height: 400px;
}

.mapSearchField {

}

.business-dashboard-page {
    height: 100vh;
    overflow: hidden;
}

.modal-card-successSetLoc {
    height: auto;
    width: 40%;
}

.modal-body-setLoc  {
    border-radius: 5px;
}

.modal-body-successSetLoc {
    border-radius: 5px;
}

.prof-pic {
    box-shadow: 0 5px 20px rgba(10,10,10,.35);
}

.company-name {

}

.store-location {

}

.btn-cancel:hover, .btn-setLoc:hover {
    box-shadow: 0 5px 20px rgba(10,10,10,.35);
}

.modal-cropPic {
    height: auto;
    border-radius: 5px;
}