.modal-card-signupBusiness {
    height: auto;
    width: 40%;
    border-radius: 5px;
}

.modal-card-signupConsumer {
    height: auto;
    width: 35%;
    border-radius: 5px;
}

.modal-card-login {
    height: auto;
    width: 23%;
    border-radius: 5px;
}

.select {
    color: #000;
}

.modal-card-body {
    padding: 50px 40px;
}

.modal-field-label {

}

.modal-field-value {

}

.modal-add-prof-pic {
    width: 10em;
    height: 10em;
    border-radius: 100px
}

.modal-submit-btn {

}

.is-gradient-background {
    background: linear-gradient(to left, #E82F2F 0%, #FFC85F 100%);
}

.is-landing-brand {
    font-size: 92px;
}

.is-fullheight-mod {
    height: 70vh;
}

.bg-clippath-first {
    top: 0;
    left: 0;
    background-color: #EC4D41;
    width: 100%;
    height: 100vh;
    -webkit-clip-path: polygon(75% 0, 100% 0, 100% 100%, 33% 100%);
    clip-path: polygon(75% 0, 100% 0, 100% 100%, 33% 100%);
    position: absolute;
}

.bg-clippath-second {
    top: 100vh;
    left: 0;
    background-color: #EC4D41;
    width: 100%;
    height: 100vh;
    -webkit-clip-path: polygon(0 0, 33% 0, 0% 70%);
    clip-path: polygon(0 0, 33% 0, 0% 70%);
    position: absolute;
}

.branding-column {
    padding-left: 15em;
}

.pushed-image {
    margin-top: -28vh;
}

.action-icons {
    color: #fff;
}

.hide {
    display: none;
}

.hero-image {
    box-shadow: 0 5px 30px 5px rgba(50,50,50,.5);
    border-radius: 7px;
    margin-top: 1.5em;
}


@media only screen and (max-width: 1408px) {
    .modal-card {
        width: 50%;
    }
    .is-landing-brand {
        font-size: 86px;
    }
    .branding-column {
        padding-left: 14em;
    }
}

@media only screen and (max-width: 1216px) {
    .modal-card {
        width: 60%;
    }
    .is-landing-brand {
        font-size: 82px;
    }
    .branding-column {
        padding-left: 13em;
    }
}

@media only screen and (max-width: 1024px) {
    .modal-card {
        width: 65%;
    }
    .is-landing-brand {
        font-size: 76px;
    }
    .branding-column {
        padding-left: 12em;
    }
}

@media only screen and (max-width: 769px) {
    .modal-card {
        width: 70%;
    }
    .is-landing-brand {
        font-size: 62px;
    }
    .branding-column {
        padding-left: 8em;
    }
}








