.is-rounded {
    border-radius: 5px;
}

.products-list-container {
    height: 93vh;
    border-radius: 8px;
    padding: 2em 3em;
}

.table-container {
    height: 75vh;
    overflow-y: auto;
    overflow-x: auto;
}

.btn-dashboard:hover, .btn-addProd:hover {
    box-shadow: 0 5px 20px rgba(100,100,100,0.5)
}

.btn-dashboard a, .btn-addProd a {
    color: black;
}

.table__head {
    font-size: 16px;
}

.table__body {
    font-size: 14px;
}

.col-id {
    text-align: center;
}

.col-name {

}

.col-price {
    text-align: center;
}

.col-desc {

}

.col-tag {

}

.col-rate {
    text-align: center;
}