{% extends "baseapp/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'baseapp/add-product-style.css' %}">
    <style>
        #hidden{
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
<section id="add-product-page" class="hero is-fullheight has-background-custom-white is-vcentered-content">
    <div class="container add-prod-container has-background-white is-vcentered-content is-shadowed">
        <div class="columns is-centered">
            <div class="column p-r-xl p-l-xl">
                <h1 class="title is-3 has-text-centered m-t-lg">Add Product</h1>

                <form id="form_id" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="columns is-multiline is-variable is-6">
                        <div class="column is-6">
                            <div class="field">
                                <div class="control">
                                    <label class="label">Food Name</label>
                                    {{ form.food_name }}
                                    <!-- <input class="input " type="text" placeholder="food name" name="foodName"
                                    v-validate="'required|alpha'"
                                    v-model="foodName"> -->
                                    <span class="help is-warning">${ errors.first('food_name')}</span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="label">Price</label>
                                    {{ form.food_price }}
                                    <!-- <input class="input " type="text" placeholder="price" name="price"
                                    v-validate="'required|numeric'"
                                    v-model="price"> -->
                                    <span class="help is-warning">${ errors.first('food_price')}</span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="label">Description</label>
                                    {{ form.food_description }}
                                    <!-- <textarea class="textarea" placeholder="place yummy product description here" rows="8"
                                    name="description" v-validate="'required|alpha|max:100'" v-model="description"></textarea> -->
                                    <span class="help is-warning">${ errors.first('food_description')}</span>
                                </div>
                            </div>
                        </div>

                        <div class="column is-6">
                            <div class="field">
                                <div class="control">
                                    <label class="label">Picture</label>

                                    <div class="file is-boxed is-fullwidth">
                                        <label class="file-label">
                                            <div id="hidden">
                                                {{ image_form }}
                                            </div>
                                            <span class="file-cta">
                                                <span class="file-label" @click="uploadPhoto">Choose a file…</span>
                                            </span>
                                        </label>
                                    </div>
                                    <span class="help is-warning">${ errors.first('food_pic')}</span>
                                </div>
                            </div>

                            <label class="label">Tags</label>
                            <div class="field has-addons">
                                <p class="control is-expanded">
                                    {{ form.food_tags }}
                                    <span class="help is-warning">${ errors.first('food_tags')}</span>
                                </p>
                                <p class="control">
                                    <a class="button is-static">${ charsLeft }</a>
                                </p>
                            </div>
                            <div id="tags-container" class="field is-grouped is-grouped-multiline m-t-md tags-container">
                                <div class="control" v-for="(tag, index) in tagsArray">
                                    <div class="tags has-addons">
                                        <a class="tag">${ tag }</a>
                                        <a class="tag is-delete" @click="deleteTag(index)"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="columns is-centered">
                                <div class="column is-4">
                                    <div class="field">
                                        <div class="control has-text-right">
                                            <a href="/business/dashboard/"><input type="button" class="button is-info is-rounded is-half m-t-md" value="CANCEL" name="cancel"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-4">
                                    <div class="field">
                                        <div class="control has-text-left">
                                            <input type="submit" :disabled="!isCompleteForm" class="button is-primary is-rounded is-half m-t-md" value="ADD" name="add" @click="addProduct">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if message %}
                                <center><h1 style="color:red;">{{ message }}</h1></center>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- :class="{'is-active': isActiveNoMoreFoodModal}" -->
        <div id="modalCrop" class="modal">
            <div class="modal-background"></div>
            <!-- :class="{'animated bounceIn': isActiveNoMoreFoodModal}" -->
            <div class="modal-card modal-cropPic is-vcentered-content">
                <section class="modal-card-body modal-cropPic-body is-vcentered-content">
                    <div class="columns is-multiline p-l-lg p-r-lg p-t-sm p-b-md">
                        <div class="column is-12 has-text-centered">
                            <h1 class="title has-text-grey-darker has-text-centered is-4 p-b-md">Crop the photo</h1>
                            <img id="image">
                            <div class="field has-text-centered">
                                <button class="button is-primary is-half is-rounded is-shadowed m-t-lg js-crop-and-upload">Crop and upload</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

</section>

{% endblock %}


{% block script %}
<script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
<script type="text/javascript">

    Vue.use(VeeValidate);

    var app = new Vue({
        el: '#add-product-page',
        delimiters: ['${', '}'],
        data: {
            foodName: '',
            price: '',
            description: '',
            pictures: '',
            fileName: '',
            productTags: '',
            tagTextField: '',
            tagsArray: [],
            CHARLIMIT: 250,
        },
        methods: {
            pickFile: function() {
                this.fileName = this.$refs.picFile.files[0].name;
            },
            addTag: function(e) {
                // Check if there's enough chars left for current tag in field
                if (e.target.value.length <= app.charsLeft) {
                    if (e) {
                        // Prevent page from reloading
                        e.preventDefault();
                    }
                    if (/^ *$/.test(app.tagTextField)) {
                        // Do nothing as input is either empty or whitespace only
                        app.tagTextField = "";
                    } else {
                        // clean text
                        var cleanTag = app.tagTextField.trim().replace(/ +/g, ' ');
                        if (!app.tagsArray.includes(cleanTag)) {
                            // if tag doesn't exist yet, push to tagsArray.
                            app.tagsArray.push(cleanTag);
                            // reset input field by clearing binded string
                            app.tagTextField = "";
                        }
                    }
                }
            },
            deleteTag: function(index) {
                app.tagsArray.splice(index, 1);
            },
            prepTagsForDb: function() {
                app.productTags = "";
                app.tagsArray.forEach(function(tag) {
                    // Check if typed tag has spaces
                    if (/ /.test(tag)) {
                        // remove spaces and replace with -
                        // then append to productTags which contains the comma-separated tags for the food
                        app.productTags += tag.replace(/ +/g, '-') +',';
                    } else {
                        app.productTags += tag +',';
                    }
                });
                // app.pr
                console.log(`Clean tags --> ${app.productTags}`);
            },
            uploadPhoto: function() {
                console.log("Uploading");
                document.getElementById("id_file").click();
            },
            addProduct: function() {
                console.log("addProduct")
                app.prepTagsForDb();
                app.tagTextField = app.productTags.slice(0, -1);
                document.getElementById("foodtags").value = app.tagTextField;
                document.getElementById("form_id").submit();
            }
        },
        computed: {
            isCompleteForm: function() {
                return this.foodName && this.price && this.description && (this.tagsArray.length != 0) && (this.errors.items.length == 0);
            },
            charsLeft: function() {
                var charCount = 0;
                for (var i = 0; i < this.tagsArray.length; i++) {
                    charCount += this.tagsArray[i].length;
                }
                return this.CHARLIMIT - charCount;
            }
        }
    });
</script>

<script>
    $(function () {
        /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
        $("#id_file").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#image").attr("src", e.target.result);
                    $("#modalCrop").addClass("is-active");
                    $("#modalCrop").modal("show");
                }
                reader.readAsDataURL(this.files[0]);
            }
        });

        /* SCRIPTS TO HANDLE THE CROPPER BOX */
        var $image = $("#image");
        var cropBoxData;
        var canvasData;
        $("#modalCrop").on("shown.bs.modal", function () {
            $image.cropper({
                viewMode: 1,
                aspectRatio: 16/9,
                minCropBoxWidth: 128,
                minCropBoxHeight: 72,
                ready: function () {
                    $image.cropper("setCanvasData", canvasData);
                    $image.cropper("setCropBoxData", cropBoxData);
                }
            });
        }).on("hidden.bs.modal", function () {
            cropBoxData = $image.cropper("getCropBoxData");
            canvasData = $image.cropper("getCanvasData");
            $image.cropper("destroy");
        });

        /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
        $(".js-crop-and-upload").click(function () {
            var cropData = $image.cropper("getData");
            $("#id_x").val(cropData["x"]);
            $("#id_y").val(cropData["y"]);
            $("#id_height").val(cropData["height"]);
            $("#id_width").val(cropData["width"]);
            $("#modalCrop").modal('toggle');
            $("#modalCrop").removeClass("is-active");
        });
    });
</script>

{% endblock %}









