{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}tindero{% endblock %}</title>

    <!-- Universal stylesheet. Includes Bulma framework, Spacing extension, slider extension, Bulma universal modifications -->
    <link rel="stylesheet" type="text/css" href="{% static 'baseapp/master-style.min.css' %}">

    <!-- animations -->
    <link rel="stylesheet" type="text/css" href="{% static 'baseapp/animate.min.css' %}">

    <!-- additional custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'baseapp/base-style.css' %}">

    <!-- cropper -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.css" rel="stylesheet">

    <!-- page-specific styles -->
    {% block styles %}

    {% endblock %}

    <!-- page browser tab icon -->
    <link rel="icon" type="image/png" sizes="32x32" href="#">
</head>
<body>
    <!-- page-specific content -->
    {% block content %}
    {% endblock %}

    <!-- vuejs universal  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <!-- bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- page-specific scripts -->
    {% block script %}
    {% endblock %}
</body>
</html>







