{% extends "baseapp/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'baseapp/consumer-feed-style.css' %}">
    <style>
        #hidden{
            display: none;
        }
    </style>
{% endblock %}

{% block title %}Consumer Feed{% endblock %}

{% block content %}

<section id="consumer-feed" class="hero is-fullheight has-background-custom-white consumer-feed-page">

    <!-- load screen -->
    <div class="hero is-fullheight is-primary is-vcentered-content has-text-centered" v-show="isLoading">
        <h1 class="title is-2 has-text-white animated pulse infinite">cooking...</h1>
    </div>

    <div class="container is-fluid">
        <div class="columns is-fullheight-mod is-variable is-8">
            <div class="column is-3 is-vcentered-content" style="z-index: 2;">
                <div class="box is-fullheight-box p-t-lg p-l-lg p-b-lg p-r-lg">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img class="is-rounded" src="{{ consumer.pic.url }}" >
                            </figure>
                        </div>
                        </form>
                        <div class="media-content p-t-sm">
                            <p class="title is-6">{{ user.username|default:"User" }}</p>
                            <p class="subtitle is-7">${userPoints} points</p>
                        </div>
                    </div>
                    <div class="menu">
                        <br>
                        <ul class="menu-list">
                            <li><a class="is-active">Feed</a></li>
                            <!-- <li><a href="{% url 'baseapp:profile' %}">Profile</a></li> -->
                            <li><a :class="{'is-active': isActiveRewardsModal}" @click="openRewardsModal">Rewards</a></li>
                            <li><a :class="{'is-active': isActivePreferencesModal}" @click="openPreferencesModal">Preferences</a></li>
                            <li><a :class="{'is-active': isActiveUploadsModal}" @click="openUploadsModal">Uploads</a></li>
                        </ul>

                        <p class="menu-label">Current Location</p>
                        <ul class="menu-list">
                            <li><h6 class="subtitle is-7">${ userAddress }</h6></li>
                        </ul>
                    </div>

                    <div id="map" class="map-box m-t-sm m-b-md"></div>

                    <div class="menu">
                        <p class="menu-label">Range (km): <strong>${ userLocRange }</strong></p>
                        <div class="field has-addons">
                            <p class="control is-expanded">
                                <input class="input is-small has-text-centered" type="text" name="loc-range-field" placeholder="range in kilometers" v-model="locRangeField" v-validate="'required|numeric'" @keydown.enter="setLocationRange" @blur="replenishLocRangeField">
                            </p>
                            <p class="control">
                                <a id="applyUserLocRange" class="button is-small is-primary" @click="setLocationRange"
                                :disabled="(locRangeField.length == 0 || !locRangePendingSave)">Apply</a>
                            </p>
                        </div>
                    </div>

                    <form method="post">
                        {% csrf_token %}
                        <input type="submit" class="button is-small is-fullwidth m-t-sm" id="btn" name="logout" value="Log Out"/>
                    </form>
                </div>
            </div>
            <div class="column is-5 is-vcentered-content" style="z-index: 1;">
                <div id="food-card" class="box food-card is-paddingless">
                    <figure class="image is-16by9 is-marginless">
                        <img id="food-card_image" class="food-card-image" :src="currFoodCard.food_pic_url" alt="Placeholder image">
                        <!-- https://bulma.io/images/placeholders/640x360.png -->
                    </figure>
                    <h3 id="food-card_name" class="title is-5 has-background-primary has-text-white food-card-title">
                        ${ currFoodCard.food_name }
                    </h3>
                </div>

                <div class="columns is-centered m-t-sm">
                    <div class="column is-3">
                        <div id="cta-nope" class="box has-background-primary cta-icons has-image-centered"
                        @mouseover="seekAttBtnNope = true" @mouseleave="seekAttBtnNope = false" :class="{'animated pulse': seekAttBtnNope}" @click="cardRateNope(currFoodCard)">
                            <figure class="image is-32x32 has-image-centered">
                                <img class="action-icons" src="{% static 'baseapp/assets/icons/unlike.svg' %}">
                            </figure>
                        </div>
                        <figure class="image is-32x32 has-image-centered">
                            <img class="action-icons" src="{% static 'baseapp/assets/icons/round-arrow_left-24px.svg' %}">
                        </figure>
                        <h3 class="subtitle is-6 has-text-grey-light has-text-centered">Nope</h3>
                    </div>
                    <div class="column is-3">
                        <div id="cta-eat" class="box has-background-primary cta-icons has-image-centered"
                        @mouseover="seekAttBtnEat = true" @mouseleave="seekAttBtnEat = false" :class="{'animated pulse': seekAttBtnEat}" @click="cardRateEat(currFoodCard)">
                            <figure class="image is-32x32 has-image-centered">
                                <img class="action-icons" src="{% static 'baseapp/assets/icons/heart.svg' %}">
                            </figure>
                        </div>
                        <figure class="image is-32x32 has-image-centered">
                            <img class="action-icons" src="{% static 'baseapp/assets/icons/round-arrow_drop_up-24px.svg' %}">
                        </figure>
                        <h3 class="subtitle is-6 has-text-grey-light has-text-centered">Eat</h3>
                    </div>
                    <div class="column is-3">
                        <div id="cta-yup" class="box has-background-primary cta-icons has-image-centered"
                        @mouseover="seekAttBtnYup = true" @mouseleave="seekAttBtnYup = false" :class="{'animated pulse': seekAttBtnYup}" @click="cardRateYup(currFoodCard)">
                            <figure class="image is-32x32 has-image-centered">
                                <img class="action-icons" src="{% static 'baseapp/assets/icons/like.svg' %}">
                            </figure>
                        </div>
                        <figure class="image is-32x32 has-image-centered">
                            <img class="action-icons" src="{% static 'baseapp/assets/icons/round-arrow_right-24px.svg' %}">
                        </figure>
                        <h3 class="subtitle is-6 has-text-grey-light has-text-centered">Yup</h3>
                    </div>
                </div>

                <div class="box liked-cards-box">
                    <div class="columns is-variable is-2 is-multiline">
                        <div class="column is-12">
                            <div class="columns">
                                <div class="column is-6 is-paddingless is-marginless is-vcentered-content">
                                    <h1 class="subtitle is-6 is-marginless has-text-grey-light p-l-md">Liked cards: ${ likedFoodList.length }</h1>
                                </div>
                                <div class="column is-6 has-text-right is-paddingless is-marginless">
                                    <button class="button is-small is-primary m-r-md" @click="pickRandomLikedFood" :disabled="(likedFoodList.length==0)">Decide for me</button>
                                </div>
                            </div>
                        </div>

                        <div class="column is-12">
                            <div class="columns liked-cards-container">

                                <div class="column is-narrow" v-for="food in likedFoodList">
                                    <div id="liked-card" class="box liked-card is-paddingless is-marginless">
                                        <figure class="image is-16by9 is-marginless">
                                            <img id="liked-card_image" class="liked-card-image" :src="food.food_pic_url" alt="Placeholder image">
                                        </figure>
                                        <h3 id="liked-card_name" class="subtitle is-7 has-background-primary has-text-white liked-card-title">${food.food_name}</h3>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="column is-4 is-vcentered-content" style="z-index: 2;">
                <div class="box p-t-lg p-l-lg p-b-lg p-r-lg is-fullheight-box">
                    <h2 class="subtitle is-5">${ currFoodCard.food_place }</h2>
                    <h1 class="title is-5">${ currFoodCard.food_name }</h1>
                    <h1 class="subtitle is-3 has-text-primary">P ${ currFoodCard.food_price }</h1>
                    <p class="subtitle is-6 has-text-grey">${ currFoodCard.food_desc }</p>
                    <p class="subtitle is-6 has-text-grey-light">${ distanceToFood } (${ durationToFood }) away</p>
                    <hr>
                    <h4 class="title is-6">Tags</h4>
                    <div class="tags">
                        <span v-if="currFoodCard.isAdvertisement" class="tag is-info">advertisement</span>
                        <span v-for="tag in currFoodCard.food_tags.split(',')" class="tag">${ tag }</span>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="modal-preferences" class="modal" :class="{'is-active': isActivePreferencesModal}">
        <div class="modal-background" @click="closePreferencesModal"></div>
        <div class="modal-card modal-preferences" :class="{'animated bounceInLeft': isActivePreferencesModal}"
        :class="{'animated bounceOutLeft': !isActivePreferencesModal}">
            <section class="modal-card-body modal-card-body-prefs">
                <div class="columns is-multiline p-l-lg p-r-lg p-t-md p-b-md">
                    <div class="column is-12 has-text-centered">
                        <h1 class="modal-card-title title is-4 has-text-grey-darker has-text-centered">Food Preferences Tags</h1>
                        <div class="field has-addons">
                            <p class="control is-expanded">
                                {{ form.food_tags }}
                                <input id="consumerFoodTags" type="text" class="input" placeholder="put accurate tags to get accurate suggestions" name="consumerFoodTags" v-model="tagTextField" @keydown.enter="addTag">
                                <span class="help is-warning">${ errors.first('food_tags')}</span>
                            </p>
                            <p class="control">
                                <a class="button is-static">${ charsLeftTags }</a>
                            </p>
                        </div>
                        <div id="tags-container" class="field is-grouped is-grouped-multiline m-t-md tags-container">
                            <div class="control" v-for="(tag, index) in tagsArray">
                                <div class="tags has-addons">
                                    <a class="tag">${ tag }</a>
                                    <a class="tag is-delete" @click="deletePrefTag(index)"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-12 has-text-centered">
                        <button class="button" @click="closePreferencesModal">Cancel</button>
                        <button class="button is-primary" @click="saveTags">Save changes</button>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div id="modal-rewards" class="modal" :class="{'is-active': isActiveRewardsModal}">
        <div class="modal-background" @click="closeRewardsModal"></div>
        <div class="modal-card modal-rewards" :class="{'animated bounceInLeft': isActiveRewardsModal}">
            <section class="modal-card-body modal-rewards-body">
                <div class="columns is-multiline p-l-lg p-r-lg p-t-md p-b-md">
                    <div class="column is-12 has-text-centered">
                        <h1 class="title is-4 has-text-grey-darker">Rewards</h1>
                    </div>
                    <div class="column is-12">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input is-fullwidth has-text-centered" placeholder="search for rewards here" @keydown.enter="searchRewards" :disabled="(rewardsArray.length == 0)">
                            </div>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="columns is-variable is-2 is-multiline rewards-container">
                            <template v-if="(rewardsArray.length == 0)">
                                <div class="column is-12 is-fullheight is-vcentered-content">
                                    <h2 class="title is-2 has-text-centered has-text-grey-lighter">Oops, no available rewards :/</h2>
                                </div>
                            </template>
                            <template v-else>
                                <div class="column is-6 reward-column" v-for="(reward, index) in rewardsArray">
                                    <figure class="image is-16by9 reward-figure" :class="{'is-selected': reward.isSelected}" @click="selectReward(index)">
                                        <div class="reward-info-bg"></div>
                                        <div class="reward-info-container">
                                            <h3 class="title is-6 has-text-white">${ reward.name }</h3>
                                            <h4 class="subtitle is-7 has-text-white">${ reward.points } points</h4>
                                        </div>
                                        <img class="reward-img" :src="reward.pic" alt="Placeholder image">
                                    </figure>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div class="column is-12 has-text-centered">
                        <span class="help" v-if="selectedReward.points == undefined">Select a reward!</span>
                        <span class="help is-success" v-else-if="userPoints >= selectedReward.points">Good to go!</span>
                        <span class="help is-danger" v-else>Ooops, not enough points.</span>
                        <button class="button is-primary m-t-xs p-l-xl p-r-xl"
                        :disabled="(selectedReward.points == undefined) || (selectedReward.points > userPoints)" @click="claimReward">Claim Reward</button>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div id="modal-nomorefood" class="modal" :class="{'is-active': isActiveNoMoreFoodModal}">
        <div class="modal-background"></div>
        <div class="modal-card modal-nomorefood" :class="{'animated bounceIn': isActiveNoMoreFoodModal}">
            <section class="modal-card-body modal-nomorefood-body is-vcentered-content">
                    <div class="columns is-multiline p-l-lg p-r-lg p-t-sm p-b-md">
                        <div class="column is-12 has-text-centered">
                            <h1 class="title is-5">No more options</h1>
                            <h2 class="subtitle is-6 p-t-sm">What can I do?</h2>
                        </div>
                        <div class="column is-12 p-t-sm p-b-sm">
                            <div class="columns liked-cards-container">
                                <div class="column is-narrow" v-for="food in likedFoodList">
                                    <div id="liked-card" class="box liked-card is-paddingless is-marginless">
                                        <figure class="image is-16by9 is-marginless">
                                            <img id="liked-card_image" class="liked-card-image" :src="food.food_pic_url" alt="Placeholder image">
                                        </figure>
                                        <h3 id="liked-card_name" class="subtitle is-7 has-background-primary has-text-white liked-card-title">${food.food_name}</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="column is-12 has-text-centered">
                                <button class="button is-primary p-l-xl p-r-xl" @click="pickRandomLikedFood" :disabled="(likedFoodList.length==0)">Decide for me</button>
                            </div>

                            <h3 class="subtitle is-6 has-text-centered m-t-md m-b-md has-text-grey">or</h3>

                            <div class="column is-narrow is-centered has-text-centered p-t-xxs">
                                <div class="field">
                                    <p class="control">
                                        <span class="help has-text-centered m-b-sm">Current location range is ${ userLocRange } kilometers</span>
                                        <input class="input has-text-centered" type="text" name="location range" id="locRangeFieldInc" placeholder="location range (in kilometers)" v-validate="'required|numeric'" v-model="locRangeField"  @keydown.enter="setLocationRange" @blur="replenishLocRangeField">
                                        <span class="help is-danger has-text-centered">${ this.errors.first('location range') }</span>
                                    </p>
                                </div>
                            </div>
                            <div class="column is-12 has-text-centered p-t-xxs">
                                <button id="applyUserLocRange" class="button is-primary p-l-xl p-r-xl"
                                @click="setLocationRange" :disabled="(locRangeField.length == 0 || !locRangePendingSave)">Increase range</button>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </div>

    <div id="modal-uploads" class="modal" :class="{'is-active': isActiveUploadsModal}">
        <div class="modal-background" @click="closeUploadsModal"></div>
        <div class="modal-card modal-uploads" :class="{'animated bounceInLeft': isActiveUploadsModal}">
            <section class="modal-card-body modal-uploads-body">
                <div class="columns is-multiline p-l-lg p-r-lg p-t-md p-b-md">
                    <div class="column is-12 has-text-centered">
                        <h1 class="title is-4 has-text-grey-darker">Pending Upload Food Cards</h1>
                    </div>
                    <div class="column is-12">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input is-fullwidth has-text-centered" placeholder="search for uploads here" @keydown.enter="searchUploads" :disabled="(uploadsArray.length == 0)">
                            </div>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="columns is-variable is-2 is-multiline uploads-container">
                            <template v-if="(uploadsArray.length == 0)">
                                <div class="column is-12 is-fullheight is-vcentered-content">
                                    <h2 class="title is-2 has-text-centered has-text-grey-lighter">Oops, no 'eat's yet :/</h2>
                                </div>
                            </template>
                            <template v-else>
                                <div class="column is-6 upload-column" v-for="(upload, index) in uploadsArray">
                                    <figure class="image is-16by9 upload-figure" :class="{'is-selected': upload.isSelected}"
                                    @click="selectUpload(index)">
                                        <div class="upload-info-bg"></div>
                                        <div class="upload-info-container">
                                            <h3 class="title is-7 has-text-white">${ upload.food_name }</h3>
                                            <h4 class="subtitle is-6 has-text-white">${ upload.food_price }</h4>
                                        </div>
                                        <img class="upload-img" :src="upload.food_pic_url" alt="Placeholder image">
                                    </figure>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div class="column is-12 has-text-centered">
                        <span class="help" v-if="(uploadsArray.length != 0)">Upload a photo to earn points!</span>
                        <button class="button is-primary m-t-xs p-l-xl p-r-xl"
                        :disabled="(uploadsArray.length == 0 || selectedUpload.isUploaded)" @click="uploadPicOfEat">Upload Photo</button>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div id="modal-eat" class="modal" :class="{'is-active': isActiveEatModal}">
        <div class="modal-background" @click="closeEatModal"></div>
        <div class="modal-card modal-eat" :class="{'animated bounceInUp': isActiveEatModal}">
            <section class="modal-card-body modal-eat-body ">
                    <div class="columns is-multiline p-l-lg p-r-lg p-t-md p-b-md">
                        <div class="column is-12 is-paddingless">
                            <figure class="image is-16by9 is-marginless">
                                <img id="food-card_image" class="food-card-image-eat" :src="currFoodCard.food_pic_url" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="column is-12 has-text-centered p-t-sm p-b-sm">
                            <h1 class="title is-5 m-t-md">${ currFoodCard.food_name }</h1>
                        </div>
                        <div class="column is-12 p-t-sm p-b-sm">
                            <div class="columns">
                                <div class="column is-vcentered-content">
                                    <h2 class="title is-6">${ currFoodCard.food_place }</h2>
                                    <p v-if="(distanceToFood != undefined) && (distanceToFood != undefined)" class="subtitle is-6 has-text-grey">${ distanceToFood } (${ durationToFood }) away</p>
                                </div>
                                <div class="column is-vcentered-content has-text-centered">
                                    <h1 class="subtitle is-4 has-text-primary">P ${ currFoodCard.food_price }</h1>
                                </div>
                            </div>
                        </div>
                        <div class="column is-12 p-t-sm p-b-sm">
                            <h4 class="subtitle is-7 is-marginless p-b-sm">Community Photos</h4>
                            <div class="columns is-variable is-1 community-photos-container">
                                <template v-if="communityPicsList.length != 0">
                                    <div class="column is-narrow" v-for="(picSrc, index) in communityPicsList">
                                        <figure class="image is-96x96" @click="openCommPicPrev(index)">
                                            <img id="food-card_image" class="community-pics__photo" :src="picSrc" alt="Placeholder image">
                                        </figure>
                                    </div>
                                </template>
                                <template v-else>
                                    <div class="column is-12">
                                        <h2 class="title is-5 has-text-centered has-text-grey-lighter p-t-md">Oops, no community pics yet!</h2>
                                        <h3 class="subtitle is-6 has-text-centered has-text-grey-lighter">Be the first one to upload!</h3>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <div class="column is-12 has-text-centered">
                            <span class="subtitle is-7">Upload a photo of this meal to earn points!</span>
                            <br>
                            <form method="post" id="PhotoUpload" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div id="hidden">
                                    {{ image_form }}
                                    <input type="hidden" name="save" value="save"/>
                                </div>
                                <button class="button is-primary p-l-xxl p-r-xxl" @click="uploadPhoto">Upload photo!</button>
                            </form>
                        </div>
                    </div>
            </section>
        </div>
    </div>

    <div id="modalCrop" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card modal-cropPic is-vcentered-content">
            <section class="modal-card-body modal-cropPic-body is-vcentered-content">
                <div class="columns is-multiline p-l-lg p-r-lg p-t-sm p-b-md">
                    <div class="column is-12 has-text-centered">
                        <h1 class="title has-text-grey-darker has-text-centered is-4 p-b-md">Crop the photo</h1>
                        <img id="image">
                        <div class="field has-text-centered">
                            <button class="button is-primary is-half is-rounded is-shadowed m-t-lg js-crop-and-upload">Crop and upload</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="modal" :class="{'is-active': isActiveRewardCodeModal}">
        <div class="modal-background"></div>
        <div class="modal-card modal-card-rewardcode" :class="{'animated bounceIn': isActiveRewardCodeModal}">
            <div class="modal-card-body is-vcentered">
                <div class="columns is-multiline">
                    <div class="column is-full">
                        <h1 class="title has-text-centered is-5">Claim Reward</h1>
                        <h2 class="subtitle has-text-centered is-6">Present this code to claim your reward.</h2>
                        <h1 class="title is-3 has-text-primary has-text-centered p-t-lg">${rewardCode}</h1>
                        <div class="field has-text-centered">
                            <button class="button is-primary is-rounded is-shadowed m-t-md is-one-third" @click="closeRewardCodeModal">Okay</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" :class="{'is-active': isActiveCommPicPrev}">
        <div class="modal-background" @click="closeCommPicPrev"></div>
        <div class="modal-content">
            <figure class="image 1by1">
                <!-- <img id="food-card_image" class="community-pics__photo" :src="picSrc" alt="Placeholder image"> -->
                <img :src="commPicPrevSrc">
            </figure>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="closeCommPicPrev"></button>
    </div>

</section>
{% endblock %}


{% block script %}
<!-- advertisement fake cards -->
<script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
<script type="text/javascript">

    Vue.use(VeeValidate);

    var app = new Vue({
        el: '#consumer-feed',
        delimiters: ['${', '}'],
        data: {
            isActiveRewardCodeModal: false,
            rewardCode: '',
            isNoMoreFoodState: false,
            isActiveNoMoreFoodModal: false,
            isLoading: true,
            isActiveEatModal: false,
            isActivePreferencesModal: false,
            isActiveUploadsModal: false,
            isActiveRewardsModal: false,
            isClickYup: false,
            isClickNope: false,
            isClickEat: false,
            userPoints: 5,
            foodCardList: [],
            shownFoodCardList: [],
            currFoodCard: {
                "food_desc": "",
                "food_id": "",
                "food_location": "",
                "food_name": "",
                "food_pic_url": "",
                "food_place": "",
                "food_price": "",
                "food_tags": "",
                "food_distance": "",
                "food_time_to": "",
                "isAdvertisement": false,
                "ads_url": ""
            },
            likedFoodList: [],
            userLocation: [],
            userAddress: '',
            userLocRange: "{{ consumer.loc_range }}",
            userPoints: "{{ consumer.points }}",
            locRangeField: '',
            productTags: '',
            tagTextField: '',
            tagsArray: [],
            CHARLIMIT: 250,
            rewardsArray: [],
            uploadsArray: [],
            selectedReward: {},
            selectedUpload: {},
            adsCardList: [],
            reqFoodCardsCtr: 10,
            communityPicsList: [],
            seekAttBtnNope: false,
            seekAttBtnEat: false,
            seekAttBtnYup: false,
            commPicPrevSrc: '',
            isActiveCommPicPrev: false,
        },
        created: function() {
            console.log("created");
        },
        mounted: function() {
            console.log("mounted");

            var vm = this;
            window.addEventListener('keydown', function(event) {
                // Uncomment line below to see code of pressed key.
                // console.log(`KeyDown --> ${event.keyCode}`);
                if (!app.isActiveEatModal && !app.isActivePreferencesModal && !app.isNoMoreFoodState && !app.isActiveRewardsModal && !app.isActiveUploadsModal && !app.isActiveRewardCodeModal) {
                    if (event.keyCode == 38) {
                        console.log('up-arrow-pressed');
                        app.cardRateEat(app.currFoodCard);
                    } else if (event.keyCode == 37) {
                        console.log('left-arrow-pressed');
                        app.cardRateNope(app.currFoodCard);
                    } else if (event.keyCode == 39) {
                        console.log('right-arrow-pressed');
                        app.cardRateYup(app.currFoodCard);
                    }
                } else {
                     if (event.keyCode == 27) {
                        console.log('escape-arrow-pressed');
                        if (app.isActiveUploadsModal) {
                            app.closeUploadsModal();
                        }
                        if (app.isActiveEatModal) {
                            app.closeEatModal();
                        }
                        if (app.isActivePreferencesModal) {
                            app.closePreferencesModal();
                        }
                        if (app.isNoMoreFoodState) {
                            app.closeNoMoreFoodModal();
                        }
                        if (app.isActiveRewardCodeModal) {
                            app.closeRewardCodeModal();
                        }
                        if (app.isActiveRewardsModal) {
                            app.closeRewardsModal();
                        }
                    }
                }
            });
            window.addEventListener('keyup', function(event) {
                // Uncomment line below to see code of pressed key.
                // console.log(`KeyUp --> ${event.keyCode}`);
                if (event.keyCode == 38) {
                    console.log('up-arrow-released');
                    app.isClickEat = false;
                } else if (event.keyCode == 37) {
                    console.log('left-arrow-released');
                    app.isClickNope = false;
                } else if (event.keyCode == 39) {
                    console.log('right-arrow-released');
                    app.isClickYup = false;
                }
            });
        },
        watch: {
        },
        computed: {
            locRangePendingSave: function() {
                return ((this.errors.first('loc-range-field') == null) && this.userLocRange != this.locRangeField);
            },
            charsLeftTags: function() {
                var charCount = 0;
                for (var i = 0; i < this.tagsArray.length; i++) {
                    charCount += this.tagsArray[i].length;
                }
                return this.CHARLIMIT - charCount;
            },
            distanceToFood: function() {
                return this.currFoodCard.food_distance;
            },
            durationToFood: function() {
                return this.currFoodCard.food_time_to;
            }
        },
        methods: {
            closeEatModal: function(foodCard) {
                if (app.isActiveEatModal == true) {
                    $('#food-card').removeClass("animated fadeOutUp");
                    $('#food-card').addClass("animated fadeIn");
                    app.isActiveEatModal = false;

                }
                if (!app.isNoMoreFoodState) {
                    app.getNextCard();
                } else {

                }
            },
            cardRateEat: function(foodCard) {
                if (!app.currFoodCard.isAdvertisement) {
                    app.isClickEat = true;

                    var rating = {
                        "foodID": foodCard.food_id,
                        "rating": 1,
                    }

                    var request = new XMLHttpRequest();
                    request.open('POST', '/consumer/feed/rate/', true);
                    request.onreadystatechange = function() {
                        if (request.readyState == XMLHttpRequest.DONE) {
                            if (request.responseText != null) {
                                var object_id = JSON.parse(request.responseText).object_id
                                if (object_id != undefined) {
                                    app.currFoodCard.object_id = object_id;
                                    console.log(app.currFoodCard.object_id);
                                }
                            }
                        }
                    };
                    request.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    request.send(JSON.stringify(rating));

                    app.getCommunityPics();

                    var animationEnd = 'webkitAnimationEnd mozAnimationEnd oAnimationEnd animationend';
                    $('#food-card').addClass("animated fadeOutUp").one(animationEnd, function() {
                        $('#food-card').removeClass("animated fadeOutUp");
                    });

                    $('#cta-eat').addClass("animated pulse").one(animationEnd, function() {
                        $('#cta-eat').removeClass("animated pulse");
                    });

                    app.isActiveEatModal = true;
                } else {
                    window.open(app.currFoodCard.link_url, '_blank');
                }
            },
            cardRateNope: function(foodCard) {
                if (!app.currFoodCard.isAdvertisement) {
                    app.isClickNope = true;

                    var rating = {
                        "foodID": foodCard.food_id,
                        "rating": -1,
                    }

                    var request = new XMLHttpRequest();
                    request.open('POST', '/consumer/feed/rate/', true);
                    request.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    request.send(JSON.stringify(rating));

                    app.getNextCard(false);
                }
                app.getNextCard(true);
                var animationEnd = 'webkitAnimationEnd mozAnimationEnd oAnimationEnd animationend';
                $('#food-card').addClass("animated fadeOutLeft").one(animationEnd, function() {
                    $('#food-card').removeClass("animated fadeOutLeft delay-03s");
                });

                $('#cta-nope').addClass("animated pulse").one(animationEnd, function() {
                    $('#cta-nope').removeClass("animated pulse");
                });
            },
            cardRateYup: function(foodCard) {
                if (!app.currFoodCard.isAdvertisement) {
                    app.isClickYup = true;

                    var rating = {
                        "foodID": foodCard.food_id,
                        "rating": 0,
                    }

                    var request = new XMLHttpRequest();
                    request.open('POST', '/consumer/feed/rate/', true);
                    request.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    request.send(JSON.stringify(rating));

                    app.likedFoodList.unshift(foodCard);
                }
                app.getNextCard(true);
                var animationEnd = 'webkitAnimationEnd mozAnimationEnd oAnimationEnd animationend';
                $('#food-card').addClass("animated fadeOutRight").one(animationEnd, function() {
                    $('#food-card').removeClass("animated fadeOutRight delay-03s");
                });

                $('#cta-yup').addClass("animated pulse").one(animationEnd, function() {
                    $('#cta-yup').removeClass("animated pulse");
                });
            },
            getNextCard: function() {
                console.log("getNextCard()");

                var food = app.foodCardList.shift();
                if (food != undefined) {
                    app.shownFoodCardList.push(app.currFoodCard.food_id);

                    app.currFoodCard = food;

                    if (app.foodCardList.length < 5) {
                        console.log("Will fetch new cards now.")
                        app.getSuggestedCards();
                    }
                } else {
                    app.isNoMoreFoodState = true;
                    app.isActiveNoMoreFoodModal = true;
                }
            },
            openPreferencesModal: function() {
                console.log("openPreferencesModal()");
                app.getPrefTags();
                app.isActivePreferencesModal = true;
            },
            closePreferencesModal: function() {
                console.log("closePreferencesModal()");
                if (app.tagsArray.length != 0) {
                    app.isActivePreferencesModal = false;
                }
            },
            openRewardsModal: function() {
                console.log("openRewardsModal()");
                app.isActiveRewardsModal = true;
                app.getRewardsList();
            },
            closeRewardsModal: function() {
                console.log("closeRewardsModal()");
                if (app.isActiveRewardsModal == true) {
                    app.isActiveRewardsModal = false;
                }
            },
            openUploadsModal: function() {
                console.log("openUploadsModal()");
                app.isActiveUploadsModal = true;
                app.getUploads();
            },
            closeUploadsModal: function() {
                console.log("closeUploadsModal()");
                if (app.isActiveUploadsModal == true) {
                    app.isActiveUploadsModal = false;
                }
            },
            setLocationRange: function() {
                if (app.locRangePendingSave) {
                    app.userLocRange = app.locRangeField;

                    var consumer_loc = {
                        'loc_range':app.userLocRange
                    }

                    var request = new XMLHttpRequest();
                    request.open('POST', '/consumer/feed/loc-range/', true);
                    request.onreadystatechange = function() {
                        if (request.readyState == XMLHttpRequest.DONE) {
                            window.open("/consumer/feed/", "_self");
                        }
                    };
                    request.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    request.send(JSON.stringify(consumer_loc));
                }
            },
            replenishLocRangeField: function() {
                console.log("replenishLocRangeField()");
                if (app.locRangeField == "") {
                    app.locRangeField = app.userLocRange;
                }
            },
            prepTagsForDb: function() {
                app.productTags = "";
                app.tagsArray.forEach(function(tag) {
                    // Check if typed tag has spaces
                    if (/ /.test(tag)) {
                        // remove spaces and replace with -
                        // then append to productTags which contains the comma-separated tags for the food
                        app.productTags += tag.replace(/ +/g, '-') +',';
                    } else {
                        app.productTags += tag +',';
                    }
                });
            },
            addTag: function(e) {
                console.log("addTag()")
                // Check if there's enough chars left for current tag in field
                if (e.target.value.length <= app.charsLeftTags) {
                    if (e) {
                        // Prevent page from reloading
                        e.preventDefault();
                    }
                    if (/^ *$/.test(app.tagTextField)) {
                        // Do nothing as input is either empty or whitespace only
                        app.tagTextField = "";
                    } else {
                        // clean text
                        var cleanTag = app.tagTextField.trim().replace(/ +/g, ' ').toLowerCase();
                        if (!app.tagsArray.includes(cleanTag)) {
                            // if tag doesn't exist yet, push to tagsArray.
                            app.tagsArray.push(cleanTag);
                            // reset input field by clearing binded string
                            app.tagTextField = "";
                        }
                    }
                }
            },
            saveTags: function() {
                console.log("saveTags")
                if (app.tagsArray.length != 0) {
                    app.prepTagsForDb();
                    app.productTags = app.productTags.slice(0, -1);
                    app.postPrefTags(app.productTags);
                    app.closePreferencesModal();
                    window.open('/consumer/feed/', '_self');
                }
            },
            pickRandomLikedFood: function() {
                console.log("pickRandomLikedFood()");
                var randomIndex = Math.floor((Math.random() * app.likedFoodList.length));
                app.currFoodCard = app.likedFoodList[randomIndex];
                app.cardRateEat(app.currFoodCard);
            },
            getPrefTags: function() {
                var request = new XMLHttpRequest();
                request.open('GET', '/consumer/feed/pref-tags/', true);
                request.onload = function() {
                    if (request.status >= 200 && request.status < 400) {
                        console.log(request.responseText);
                        if (request.responseText != '[""]'){
                            app.tagsArray = (JSON.parse(request.responseText)[0].split(','));
                        } else {
                            app.isActivePreferencesModal = true;
                        }
                    } else {
                        // We reached our target server, but it returned an error
                        console.log("Server returned an error.")
                    }
                };
                request.onerror = function() {
                    // There was a connection error of some sort
                    console.log("Connection failed.");
                };
                request.send();
            },
            deletePrefTag: function(index) {
                app.tagsArray.splice(index, 1);
            },
            getRewardsList: function() {
                var request = new XMLHttpRequest();
                request.open('GET', '/consumer/feed/points/', true);
                request.onload = function() {
                    if (request.status >= 200 && request.status < 400) {
                        var responseRewardsArray = JSON.parse(request.responseText);
                        responseRewardsArray.forEach(function(reward) {
                            newReward = {
                                "id": reward.id,
                                "name": reward.name,
                                "pic": `/media/${reward.pic}`,
                                "points": reward.points
                            }
                            app.rewardsArray.push(newReward);
                        });
                    } else {
                        // We reached our target server, but it returned an error
                        console.log("Server returned an error.")
                    }
                };
                request.onerror = function() {
                    // There was a connection error of some sort
                    console.log("Connection failed.");
                };
                request.send();
            },
            getUploads: function() {
                var request = new XMLHttpRequest();
                request.open('GET', '/consumer/feed/food-upload/', true);
                request.onload = function() {
                    if (request.status >= 200 && request.status < 400) {
                        app.uploadsArray = JSON.parse(request.responseText);
                    } else {
                        // We reached our target server, but it returned an error
                        console.log("Server returned an error.")
                    }
                };
                request.onerror = function() {
                    // There was a connection error of some sort
                    console.log("Connection failed.");
                };
                request.send();
            },
            searchRewards: function(e) {
                console.log("searchRewards()");
                if (e.target.value == "") {
                    app.getRewardsList();
                } else {
                    var list = [];
                    app.rewardsArray.forEach(function(reward) {
                        if (reward.name.toLowerCase().includes(e.target.value.toLowerCase())) {
                            list.push(reward);
                        }
                    });
                    if (list.length != 0) {
                        app.rewardsArray = list;
                    }
                }
            },
            searchUploads: function(e) {
                console.log("searchUploads()");
                if (e.target.value == "") {
                    app.getUploads();
                } else {
                    var list = [];
                    app.uploadsArray.forEach(function(upload) {
                        if (upload.name.toLowerCase().includes(e.target.value.toLowerCase())) {
                            list.push(upload);
                        }
                    });
                    if (list.length != 0) {
                        app.uploadsArray = list;
                    }
                }
            },
            selectReward: function(index) {
                console.log("selectReward()")
                app.rewardsArray.forEach(function(reward) {
                    reward.isSelected = false;
                });
                app.rewardsArray[index].isSelected = true;
                app.selectedReward = app.rewardsArray[index];
            },
            selectUpload: function(index) {
                console.log("selectUpload()")
                app.uploadsArray.forEach(function(upload) {
                    upload.isSelected = false;
                    upload.isUploaded = false;
                });
                app.uploadsArray[index].isSelected = true;
                app.selectedUpload = app.uploadsArray[index];
            },
            claimReward: function() {
                console.log("claimReward()");

                if (app.userPoints >= app.selectedReward.points) {
                    app.userPoints -= app.selectedReward.points;

                    var request = new XMLHttpRequest();
                    request.open('POST', '/consumer/feed/points/', true);
                    request.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    request.send(app.userPoints);

                    app.closeRewardsModal();
                    app.openRewardCodeModal();
                }
            },
            openRewardCodeModal: function() {
                app.rewardCode = app.generateRewardCode();
                app.isActiveRewardCodeModal = true;
            },
            closeRewardCodeModal: function() {
                console.log("closeRewardsModal()");
                if (app.isActiveRewardCodeModal == true) {
                    app.isActiveRewardCodeModal = false;
                }
            },
            uploadPicOfEat: function() {
                console.log("uploadPicOfEat()");
                app.currFoodCard = app.selectedUpload;
                app.cardUpload(app.selectUpload);
            },
            cardUpload: function(foodCard) {
                app.getCommunityPics();
                app.isActiveEatModal = true;
            },
            postPrefTags: function(tags) {
                console.log(`postPrefTags()\n${tags}`);

                var request = new XMLHttpRequest();
                request.open('POST', '/consumer/feed/pref-tags/', true);
                request.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                request.send(JSON.stringify(tags));
            },
            uploadPhoto: function() {
                console.log("Uploading");
                console.log(app.currFoodCard.object_id);
                document.getElementById("id_file").click();
            },
            getSuggestedCards: function() {
                // Called inside GMaps script after geolocation
                // Needs geolocation first since foodlist will be filtered according to location
                console.log("getSuggestedCards()");
                // GET list of suggested foods

                return new Promise(function(resolve, reject) {
                    var request = new XMLHttpRequest();
                    var url = '/consumer/feed/suggestions/';
                    request.open('POST', url, true);
                    request.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    request.onload = function() {
                        if (request.status >= 200 && request.status < 400) {
                            // app.foodCardList = [];
                            // Success!
                            var foodList = JSON.parse(request.responseText);
                            foodList = app.filterShownFoods(foodList);
                            foodList = app.filterLoadedFoods(foodList);
                            app.filterCardsByLocation(foodList).then(resolve);
                            app.reqFoodCardsCtr += 3;
                        } else {
                            // We reached our target server, but it returned an error
                            console.log("Server returned an error.")
                        }
                    };
                    request.onerror = function() {
                        // There was a connection error of some sort
                        console.log("Connection failed.");
                    };
                    request.send(app.reqFoodCardsCtr);
                });
            },
            filterCardsByLocation: function(foodList) {
                console.log("filterCardsByLocation()");
                var destinations = [], newFoodList = [];

                // get locations for all suggested food
                foodList.forEach(function(food){
                    destinations.push(food.food_location);
                });

                return getDistances([app.userLocation], destinations)
                    .then(function(result) {
                        var newFoodList = [];
                        var distancesToFoods = result.elements;
                        for (var i = 0; i < foodList.length; i++) {
                            if (distancesToFoods[i].distance.value < (app.userLocRange * 1000)) {
                                console.log(foodList[i].food_name);
                                newFoodList.push(
                                    {
                                        "food_desc":foodList[i].food_desc,
                                        "food_id":foodList[i].food_id,
                                        "food_location":foodList[i].food_location,
                                        "food_name":foodList[i].food_name,
                                        "food_pic_url":foodList[i].food_pic_url,
                                        "food_place":foodList[i].food_place,
                                        "food_price":foodList[i].food_price,
                                        "food_tags":foodList[i].food_tags,
                                        "food_distance":distancesToFoods[i].distance.text,
                                        "food_time_to":distancesToFoods[i].duration.text,
                                        "isAdvertisement": false,
                                        "ads_url": ""
                                    }
                                );
                            }
                        }

                        if (newFoodList.length != 0) {
                            app.foodCardList = app.foodCardList.concat(newFoodList);
                            app.foodCardList = app.foodCardList.concat([app.adsCardList.shift()]);
                        }
                    });
            },
            initializeCardFeed: function() {
                app.getAdvertisementCards().then(function() {
                    app.getSuggestedCards()
                    .then(function() {
                        app.currFoodCard = app.foodCardList.shift();
                        app.isLoading = false;

                        app.getPrefTags();
                    });
                });


            },
            filterShownFoods: function(foodList) {
                console.log("filterShownFoods()");
                var newFoodList =  [];
                foodList.forEach(function(food) {
                    if (!app.shownFoodCardList.includes(food.food_id) && !food.isAdvertisement) {
                        newFoodList.push(food);
                    }
                });
                return newFoodList;
            },
            filterLoadedFoods: function(foodList) {
                console.log("filterLoadedFoods()");
                var newFoodList =  [];

                var idsOfLoaded = [];
                app.foodCardList.forEach(function(food) {
                    if (food != undefined && !food.isAdvertisement) {
                        idsOfLoaded.push(food.food_id);
                    }
                });

                foodList.forEach(function(food) {
                    if (!idsOfLoaded.includes(food.food_id) && !food.isAdvertisement) {
                        newFoodList.push(food);
                    }
                });
                return newFoodList;
            },
            closeNoMoreFoodModal: function() {
                if (app.isActiveNoMoreFoodModal == true) {
                    app.isActiveNoMoreFoodModal = false;
                }
            },
            getAdvertisementCards: function() {
                console.log("getAdvertisementCards()");

                return new Promise(function(resolve, reject) {
                    var request = new XMLHttpRequest();
                    request.open('GET', '/consumer/feed/money/', true);
                    request.onload = function() {
                        if (request.status >= 200 && request.status < 400) {
                            app.adsCardList = JSON.parse(request.responseText);

                            var list = [];
                            app.adsCardList.forEach(function(card) {
                                list.push(
                                    {
                                        'food_id':'',
                                        'food_place':'',
                                        'food_location':'',
                                        'food_name': card.food_name,
                                        'food_pic_url': `/media/${card.food_pic_url}`,
                                        'food_price': card.food_price,
                                        'food_tags': card.food_tags,
                                        'food_desc': card.food_desc,
                                        'link_url': card.link_url,
                                        "isAdvertisement": true
                                    }
                                );
                            });
                            app.adsCardList = list;
                            resolve();
                        } else {
                            // We reached our target server, but it returned an error
                            console.log("Server returned an error.")
                        }
                    };
                    request.onerror = function(e) {
                        // There was a connection error of some sort
                        console.log("Connection failed.");
                    };
                    request.send();
                });
            },
            generateRewardCode: function() {
                var text = "";
                var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                for (var i = 0; i < 5; i++)
                    text += possible.charAt(Math.floor(Math.random() * possible.length));

                return `tindero-${text}`;
            },
            getCommunityPics: function() {
                console.log("getCommunityPics()");
                var request = new XMLHttpRequest();
                request.open('POST', '/consumer/feed/community-pic/', true);
                request.onreadystatechange = function() {
                    if (request.readyState == XMLHttpRequest.DONE) {
                        if (request.responseText != "[]") {
                            app.communityPicsList = JSON.parse(request.responseText)
                        } else {
                            // app.communityPicsList = [
                            //     "https://bulma.io/images/placeholders/96x96.png",
                            //     "https://bulma.io/images/placeholders/96x96.png",
                            //     "https://bulma.io/images/placeholders/96x96.png",
                            //     "https://bulma.io/images/placeholders/96x96.png",
                            //     "https://bulma.io/images/placeholders/96x96.png"
                            // ]
                        }
                    }
                };
                request.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                request.send(JSON.stringify({"food_id": app.currFoodCard.food_id}));
            },
            openCommPicPrev: function(index) {
                app.commPicPrevSrc = app.communityPicsList[index];
                app.isActiveCommPicPrev = true;
            },
            closeCommPicPrev: function() {
                app.isActiveCommPicPrev = false;
            },
        },
    });
</script>

<script>
    $(function () {

        $("#id_file").change(function () {
        /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#image").attr("src", e.target.result);
                    $("#modalCrop").addClass("is-active");
                    $("#modalCrop").modal("show");
                }
                reader.readAsDataURL(this.files[0]);
            }
        });

        /* SCRIPTS TO HANDLE THE CROPPER BOX */
        var $image = $("#image");
        var cropBoxData;
        var canvasData;
        $("#modalCrop").on("shown.bs.modal", function () {
            $image.cropper({
                viewMode: 1,
                aspectRatio: 1/1,
                minCropBoxWidth: 128,
                minCropBoxHeight: 128,
                ready: function () {
                    $image.cropper("setCanvasData", canvasData);
                    $image.cropper("setCropBoxData", cropBoxData);
                }
            });
        }).on("hidden.bs.modal", function () {
            cropBoxData = $image.cropper("getCropBoxData");
            canvasData = $image.cropper("getCanvasData");
            $image.cropper("destroy");
        });

        /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
        $(".js-crop-and-upload").click(function () {
            var cropData = $image.cropper("getData");
            $("#id_x").val(cropData["x"]);
            $("#id_y").val(cropData["y"]);
            $("#id_height").val(cropData["height"]);
            $("#id_width").val(cropData["width"]);
            $("#id_food").val(app.currFoodCard.food_id);
            $("#id_object_id").val(app.currFoodCard.object_id);
            $("#PhotoUpload").submit();
        });
    });

</script>

<script src="{% static 'baseapp/scripts/consumer-location.js' %}"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc64LIMINbEFYKZ9Fp_bmua15yV4f2qkg&libraries=places&callback=initMap">
</script>

{% endblock %}


