{% extends "baseapp/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'baseapp/dashboard-style.css' %}">
    <style>
        #hide{
            display: none;
        }

        #divUpload:hover{
            cursor:pointer;
        }
    </style>
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<section id="business-dashboard" class="hero is-fullheight has-background-custom-white business-dashboard-page">
    <!-- load screen -->
    <div class="hero is-fullheight is-primary is-vcentered-content has-text-centered" v-show="isLoading">
        <h1 class="title is-2 has-text-white animated pulse infinite">prepping...</h1>
    </div>

    <div class="container">
        <div class="columns is-vcentered is-centered is-variable is-6 m-t-md">
            <!-- Outermost column -->
            <div class="column">
                <!-- First row -->
                <div class="columns p-b-lg">
                    <div class="column is-8">
                        <div class="box company-card has-background-primary">
                            <div class="bg-clippath-l"></div>
                            <div class="columns is-centered is-variable is-3">
                                <div class="column is-3" id="divUpload" @click="uploadPhoto">
                                    <form method="post" id="photoUpload" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <figure class="image is-128x128 has-image-centered" >
                                            <img id="store-prof-pic" class="is-rounded prof-pic" src="{{ business.pic.url }}"
                                            @mouseover="seekAttProfPic = true" @mouseleave="seekAttProfPic = false"
                                            :class="{'animated pulse': seekAttProfPic}">
                                            <div id="hide">
                                                <p>{{ image_form }}</p>
                                                <input type="hidden" name="save" value="Save"/>
                                            </div>
                                        </figure>
                                    </form>
                                </div>

                                <div class="column is-vcentered-content m-l-lg">
                                    <h1 id="store-name" class="title is-4 has-text-white">{{ business.branch_name }}</h1>
                                    <h2 class="subtitle is-6 has-text-white">
                                        <span id="company-name" class="has-text-white-bis company-name">{{ business.company_name }}</span>
                                        <br>
                                        <span id="store-location" class="has-text-white-bis store-location">{{ business.address }}</span>
                                    </h2>
                                </div>

                                <div class="column is-2 is-vcentered-content">
                                    <button class="button is-primary is-inverted is-outlined is-small m-t-xs m-b-xs is-fullwidth" name="openmap" @click="openLocSelModal">Set Location</button>

                                    <form method="post">
                                        {% csrf_token %}
                                        <input class="button is-primary is-inverted is-outlined is-small m-t-xs m-b-xs is-fullwidth" type="submit" name="logout" value="Log Out"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-4">
                        <div class="box product-card is-vcentered-content">
                            <div class="columns is-vcentered">
                                <div class="column has-text-centered is-5">
                                    <div class="columns is-multiline">
                                        <div class="column is-12 p-b-sm">
                                            <a href="{% url 'baseapp:products_list'%}">
                                                <button class="button is-primary is-large product-card__cta"
                                                @mouseover="seekAttProdList = true" @mouseleave="seekAttProdList = false"
                                                :class="{'animated pulse': seekAttProdList}">
                                                    <figure class="image is-32x32 has-image-centered">
                                                        <img class="action-icons" src="{% static 'baseapp/assets/icons/list.svg' %}">
                                                    </figure>
                                                </button>
                                            </a>
                                        </div>
                                        <div class="column is-12 p-t-sm">
                                            <a href="{% url 'baseapp:add_product'%}">
                                                <button class="button is-primary is-large product-card__cta"
                                                @mouseover="seekAttAddProd = true" @mouseleave="seekAttAddProd = false"
                                                :class="{'animated pulse': seekAttAddProd}">
                                                    <figure class="image is-32x32 has-image-centered">
                                                        <img class="action-icons" src="{% static 'baseapp/assets/icons/plus.svg' %}">
                                                    </figure>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column has-text-centered">
                                    <h2 class="title is-4">{{ food_count }}</h2>
                                    <h3 class="subtitle is-5">Products</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Second row -->
                <div class="columns p-b-lg">
                    <div class="column">
                        <div class="box">
                            <div class="columns is-vcentered">
                                <div class="column is-5 has-text-centered">
                                    <div class="box has-background-primary icon-box has-image-centered">
                                        <figure class="image is-48x48 has-image-centered">
                                            <img class="action-icons" src="{% static 'baseapp/assets/icons/unlike.svg' %}">
                                        </figure>
                                    </div>
                                    <h1 class="subtitle is-5">"Nope!"s</h1>
                                </div>
                                <div class="column has-text-centered">
                                    <h2 class="title is-4">${ nopes }</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="box">
                            <div class="columns is-vcentered">
                                <div class="column is-5 has-text-centered">
                                    <div class="box has-background-primary icon-box has-image-centered">
                                        <figure class="image is-48x48 has-image-centered">
                                            <img class="action-icons" src="{% static 'baseapp/assets/icons/heart.svg' %}">
                                        </figure>
                                    </div>
                                    <h1 class="subtitle is-5">"Eat!"s</h1>
                                </div>
                                <div class="column has-text-centered">
                                    <h2 class="title is-4">${ eats }</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="box">
                            <div class="columns is-vcentered">
                                <div class="column is-5 has-text-centered">
                                    <div class="box has-background-primary icon-box has-image-centered">
                                        <figure class="image is-48x48 has-image-centered">
                                            <img class="action-icons" src="{% static 'baseapp/assets/icons/like.svg' %}">
                                        </figure>
                                    </div>
                                    <h1 class="subtitle is-5">"Yup!"s</h1>
                                </div>
                                <div class="column has-text-centered">
                                    <h2 class="title is-4">${ yups }</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Third row -->
                <div class="columns has-text-centered">
                    <div class="column">
                        <div class="box">
                            <h2 class="title is-4">Statistics</h2>
                            <h3 class="subtitle is-6">Last 7 days</h3>
                            <!-- Graph -->
                            <div class="container" id="linechart_material"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Location selection map modal -->
    <div class="modal" :class="{'is-active': isActiveLocSelModal}">
        <div class="modal-background" @click="closeLocSelModal"></div>
        <div class="modal-content"  :class="{'animated bounceInDown': isActiveLocSelModal}">
            <div class="box modal-body-setLoc">
                <h1 class="title is-4 has-text-grey-darker has-text-centered">Set location of business</h1>
                <input id="locSearchTextField" class="input mapSearchField m-b-sm" type="text" placeholder="search store name here">
                <div id="map-area" class="mapArea"></div>

                <div class="field">
                    <input class="input is-small m-t-sm" type="text" placeholder="address of selected store will appear here" name="storeAddress" v-model="selectedAddress" disabled>
                    <input class="input is-small m-t-sm" type="text" placeholder="location of selected store will appear here" name="storeLocation" v-model="selectedLocation" disabled>
                </div>

                <div class="columns is-centered">
                    <div class="column is-narrow">
                        <input type="button" class="button is-info has-text-light p-l-lg p-r-lg btn-cancel"
                        value="Cancel" @click="closeLocSelModal">
                        <input type="button" class="button is-primary has-text-white btn-setLoc" name="setLocation" value="Set Location" @click="postLocation">
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- :class="{'is-active': isActiveNoMoreFoodModal}" -->
    <div id="modalCrop" class="modal">
        <div class="modal-background"></div>
        <!-- :class="{'animated bounceIn': isActiveNoMoreFoodModal}" -->
        <div class="modal-card modal-cropPic is-vcentered-content">
            <section class="modal-card-body modal-cropPic-body is-vcentered-content">
                <div class="columns is-multiline p-l-lg p-r-lg p-t-sm p-b-md">
                    <div class="column is-12 has-text-centered">
                        <h1 class="title has-text-grey-darker has-text-centered is-4 p-b-md">Crop the photo</h1>
                        <img id="image">
                        <div class="field has-text-centered">
                            <button class="button is-primary is-half is-rounded is-shadowed m-t-lg js-crop-and-upload">Crop and upload</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- MODAL FOR SUCCESSFUL SETTING OF LOCATION -->
    <div class="modal" :class="{'is-active': isSuccessSetLoc}">
        <div class="modal-background" @click="closeSuccessSetLocModal"></div>
        <div class="modal-card modal-card-successSetLoc" :class="{'animated bounce': isSuccessSetLoc}">
            <div class="modal-card-body modal-body-successSetLoc p-l-lg p-r-lg">
                <div class="columns is-multiline">
                    <div class="column is-12 has-text-centered">
                        <h1 class="title is-4 has-text-primary">Success!</h1>
                        <h2 class="subtitle is-6">Business address and location has been updated</h2>
                    </div>
                    <div class="column is-12">
                        <h2 class="title is-6">${ selectedAddress }</h2>
                        <h2 class="subtitle is-6">${ selectedLocation }</h2>
                    </div>
                    <div class="column is-12 has-text-centered">
                        <button class="button is-primary" @click="closeSuccessSetLocModal">Okay!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block script %}
<script type="text/javascript">
    var app = new Vue({
        el: '#business-dashboard',
        delimiters: ['${', '}'],
        data: {
            seekAttProdList: false,
            seekAttAddProd: false,
            seekAttProfPic: false,
            isLoading: true,
            products: '69',
            nopes: '33',
            eats: '96',
            yups: '88',
            isActiveLocSelModal: false,
            selectedAddress: '',
            selectedLocation: '',
            storeProfPicUrl: '',
            isSuccessSetLoc: false,
            chartDataRows: [],
        },
        created: function() {
            console.log("created()");

        },
        mounted: function() {
            console.log("mounted()");
            this.getChartData();
            this.getLocation();
        },
        methods: {
            openLocSelModal: function() {
                app.getLocation();
                app.isActiveLocSelModal = true;
            },
            closeLocSelModal: function() {
                if ( !((app.selectedLocation == "DEFAULT VALUE") && ((app.selectedAddress == "DEFAULT VALUE"))) ) {
                    app.isActiveLocSelModal = false;
                }
            },
            uploadPhoto: function() {
                console.log("Uploading here...");
                document.getElementById("id_file").click();
            },
            getLocation: function() {
                var request = new XMLHttpRequest();
                // var url = ;
                request.open('GET', '/business/dashboard/location/', true);
                request.onload = function() {
                    if (request.status >= 200 && request.status < 400) {
                        // Success!

                        console.log(request.responseText);
                        response = JSON.parse(request.responseText);
                        app.selectedAddress = response.address;
                        app.selectedLocation = response.location;

                    } else {
                        // We reached our target server, but it returned an error
                        console.log("Server returned an error.")
                    }
                };
                request.onerror = function() {
                    // There was a connection error of some sort
                    console.log("Connection failed.");
                };
                request.send();
            },
            postLocation: function() {
                if ( !((app.selectedLocation == "DEFAULT VALUE") && ((app.selectedAddress == "DEFAULT VALUE"))) ) {
                    console.log(app.selectedLocation)
                    var busiLoc = {
                        "address": app.selectedAddress,
                        "location": app.selectedLocation
                    };

                    var request = new XMLHttpRequest();
                    request.open('POST', '/business/dashboard/location/', true);
                    request.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    request.send(JSON.stringify(busiLoc));
                    request.onload = function(e) {
                        app.closeLocSelModal();
                        app.openSuccessSetLocModal();
                    }
                }
            },
            openSuccessSetLocModal: function() {
                app.isSuccessSetLoc = true;
            },
            closeSuccessSetLocModal: function() {
                app.isSuccessSetLoc = false;
                window.open("/business/dashboard/", "_self");
            },
            getChartData: function() {
                var request = new XMLHttpRequest();
                request.open('GET', '/business/chart-data/', true);
                request.onload = function() {
                    if (request.status >= 200 && request.status < 400) {
                        console.log(request.responseText);
                        app.chartDataRows = JSON.parse(request.responseText);

                    } else {
                        // We reached our target server, but it returned an error
                        console.log("Server returned an error.")
                    }
                };
                request.onerror = function() {
                    // There was a connection error of some sort
                    console.log("Connection failed.");
                };
                request.send();
            }
        }
    });
</script>


<script src="{% static 'baseapp/scripts/busi-set-loc.js' %}"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc64LIMINbEFYKZ9Fp_bmua15yV4f2qkg&libraries=places&callback=initMap">
</script>

<script>
    var loc = window.location

    var wsStart = 'ws://'
    if (loc.protocol == 'https:'){
        wsStart = 'wss://'
    }

    var endpoint =  wsStart + loc.host + loc.pathname
    var socket = new WebSocket(endpoint)

    socket.onmessage = function(e){
        data = JSON.parse(e.data)
        app.nopes = data.nope
        app.eats = data.eat
        app.yups = data.yup
    }

    socket.onerror = function(e){
        console.log("error",e)
    }
    socket.onclose = function(e){
        console.log("close",e)
    }
</script>



<script>
    $(function () {
        $("#id_file").change(function () {
        /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#image").attr("src", e.target.result);
                    $("#modalCrop").addClass("is-active");
                    $("#modalCrop").modal("show");
                }
                reader.readAsDataURL(this.files[0]);
            }
        });

        /* SCRIPTS TO HANDLE THE CROPPER BOX */
        var $image = $("#image");
        var cropBoxData;
        var canvasData;
        $("#modalCrop").on("shown.bs.modal", function () {
            $image.cropper({
                viewMode: 1,
                aspectRatio: 1/1,
                minCropBoxWidth: 128,
                minCropBoxHeight: 128,
                ready: function () {
                    $image.cropper("setCanvasData", canvasData);
                    $image.cropper("setCropBoxData", cropBoxData);
                }
            });
        }).on("hidden.bs.modal", function () {
            cropBoxData = $image.cropper("getCropBoxData");
            canvasData = $image.cropper("getCanvasData");
            $image.cropper("destroy");
        });

        /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
        $(".js-crop-and-upload").click(function () {
            var cropData = $image.cropper("getData");
            $("#id_x").val(cropData["x"]);
            $("#id_y").val(cropData["y"]);
            $("#id_height").val(cropData["height"]);
            $("#id_width").val(cropData["width"]);
            $("#modalCrop").removeClass("is-active");
            $("#photoUpload").submit();
        });
    });
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['line']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Day');
        data.addColumn('number', 'Nope');
        data.addColumn('number', 'Yup');
        data.addColumn('number', 'Eat');

        data.addRows([]);

        app.chartDataRows.forEach(function(dataRow) {
            console.log(`${dataRow.day} | ${dataRow.nope} | ${dataRow.yup} | ${dataRow.eat}`)
            data.addRows([
                [dataRow.day, dataRow.nope, dataRow.yup, dataRow.eat]
            ]);
        });

        var options = {
            lineWidth:1,
            pointSize:1,
            fontName:'Comfortaa',
            colors:['#2b3e4f','#1c7fb7','#ec4d41'],
            curveType: 'function',
            legend: {
                position: 'bottom',
                alignment: 'center'
            },
            vAxis: {
                title:'Ratings'
            },
        };

        var chart = new google.charts.Line(document.getElementById('linechart_material'));
        chart.draw(data, google.charts.Line.convertOptions(options));
    }
</script>
{% endblock %}

