{% extends "baseapp/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'baseapp/index-style.css' %}">
{% endblock %}

{% block content %}
<section id="landing-page" class="hero is-fullheight">
    <div class="hero-body">
        <section class="bg-clippath-first"></section>
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-9 animated fadeInLeft delay-03s">
                    <h1 class="title has-text-primary p-b-md is-landing-brand">tindero</h1>
                    <h2 class="subtitle has-text-grey-darker p-b-xl is-3">Make food trip hassle free,<br>the way it should be.</h2>
                    <a class="button is-primary is-medium is-rounded is-shadowed is-one-quarter m-l-xl animated bounce delay-09s"
                    @click="openLoginModal" @mouseover="seekAttBtnLogin = true" @mouseleave="seekAttBtnLogin = false"
                    :class="{'animated pulse': seekAttBtnLogin}">LOGIN</a>
                </div>

                <!-- Sign up column -->
                <div class="column has-text-centered is-3 is-vlowered-content animated fadeInRight delay-03s">
                    <h3 class="subtitle has-text-white">No account yet?</h3>
                    <form>
                        <div class="field">
                            <div class="control">
                                <input class="input " type="text" placeholder="username" name="username"
                                v-validate="'required|alpha_num'"
                                v-model="username">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input " type="email" placeholder="email" name="email"
                                v-validate="'required|email'"
                                v-model="email">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select name="accountType" v-model="accountType" :value="accountType">
                                        <option value="" disabled selected>account type</option>
                                        <option>consumer account</option>
                                        <option>business account</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <p class="help is-warning"><span>${ errors.first('username')}</span><br><span>${errors.first('email')}</span></p>
                        <div class="field">
                            <div class="control has-text-centered">

                                <input type="" :disabled="!isCompleteForm" class="button is-white is-outlined is-rounded is-half m-t-md" value="SIGNUP" @click="openSignUpModal">
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End of Sign up column -->
            </div>
        </div>
    </div>

    <!-- Sign up as a business modal -->
    <div class="modal" v-bind:class="{'is-active': activeSignUpBusiness}">
        <div class="modal-background" @click="closeSignUpModal"></div>
        <div class="modal-card modal-card-signupBusiness" v-bind:class="{'animated bounceInDown': activeSignUpBusiness}">
            <section class="modal-card-body is-vcentered">
                <div class="columns is-multiline">
                    <div class="column is-full">
                        <h1 class="title has-text-primary has-text-centered is-4">Sign up as a Business</h1>

                        <form method="POST" v-on:submit.prevent="doSignUpBusiness">
                            {% csrf_token %}
                            <div class="field">
                                <div class="control">
                                    {{ register_form.username }}
                                </div>
                                <p class="help is-danger">${ errors_signup_business_username }</p>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ register_form.email }}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ register_form.userType }}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ register_form.password1 }}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ register_form.password2 }}
                                </div>
                                <p class="help is-danger">${ errors_signup_business_password2 }</p>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ business_form.branch_name }}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ business_form.company_name }}
                                </div>
                            </div>
                            <div class="field has-text-centered">
                                <input type="submit" name="signup-business" class="button is-primary is-half is-rounded is-shadowed m-t-md" value="SUBMIT">
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="closeSignUpModal"></button>
    </div>
    <!-- End of signup modal -->


    <!-- Sign up as a consumer modal -->
    <div class="modal" v-bind:class="{'is-active': activeSignUpConsumer}">
        <div class="modal-background" @click="closeSignUpModal"></div>
        <div class="modal-card modal-card-signupConsumer" v-bind:class="{'animated bounceInDown': activeSignUpConsumer}">
            <section class="modal-card-body is-vcentered-content">

                <form method = "POST" v-on:submit.prevent="doSignUpConsumer">
                    {% csrf_token %}
                    <div class="columns is-multiline">
                        <div class="column is-full">
                            <h1 class="title has-text-primary has-text-centered is-4">Sign up as a Consumer</h1>

                            <div class="field">
                                <div class="control">
                                    {{ register_form.username }}
                                </div>
                                <p class="help is-danger">${ errors_signup_consumer_username }</p>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ register_form.email }}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ register_form.userType }}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ register_form.password1 }}
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    {{ register_form.password2 }}
                                </div>
                                <p class="help is-danger">${ errors_signup_consumer_password2 }</p>
                            </div>
                        </div>
                        <div class="column is-full has-text-centered">
                            <div class="field has-text-centered">
                                <input type="submit" name="signup-consumer" class="button is-primary is-half is-rounded is-shadowed m-t-md" value="SUBMIT">
                            </div>
                        </div>
                    </div>
                </form>

            </section>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="closeSignUpModal"></button>
    </div>
    <!-- End of signup modal -->

    <!-- Login modal -->
    <div class="modal" v-bind:class="{'is-active': activeLogin}">
        <div class="modal-background" @click="closeLoginModal"></div>
        <div class="modal-card modal-card-login" v-bind:class="{'animated bounceInDown': activeLogin}">
            <section class="modal-card-body is-vcentered">
                <div class="columns is-multiline">

                    <div class="column is-full">
                        <h1 class="title has-text-primary has-text-centered is-4 p-b-mg">Get Started</h1>
                        <h2 class="subtitle has-text-centered is-6">Login, pick, eat.</h2>

                        <form method = "POST" v-on:submit.prevent="doLogin">
                            {% csrf_token %}
                            <div class="field p-b-sm">
                                <div class="control">
                                    {{ authentication_form.username }}
                                </div>
                            </div>
                            <div class="field p-b-sm">
                                <div class="control">
                                    {{ authentication_form.password }}
                                </div>
                                <p class="help is-danger">${ errors_login }</p>
                            </div>
                            <div class="field has-text-centered">
                                <input type="submit" name="login"
                                class="button is-primary is-two-thirds is-rounded is-shadowed m-t-md" value="LOGIN">
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="closeLoginModal"></button>
    </div>
    <!-- End of login modal -->
</section>

<section class="section is-medium">
    <section class="bg-clippath-second"></section>
    <div class="container">
        <div class="columns is-centered is-multiline">
            <div class="column is-10">
                <div class="has-text-centered pushed-image animated fadeInUp delay-09s">
                    <h class="title is-5 has-text-white">Uhmm... how?</h>
                    <img class="hero-image" src="{% static 'baseapp/assets/mockup/mockup.png' %}">
                </div>
            </div>
            <h1 class="title is-4 m-t-lg has-text-grey animated fadeInUp delay-09s">A companion that learns your cravings, and suggests them on demand.</h1>
            <div class="column is-11 m-t-xl">
                <div class="columns">
                    <div class="column">
                        <div id="card-nope" class="box hide">
                            <div class="columns">
                                <div class="column is-5 has-text-centered">
                                    <div class="box has-background-primary icon-box has-image-centered">
                                        <figure class="image is-48x48 has-image-centered">
                                            <img class="action-icons" src="{% static 'baseapp/assets/icons/unlike.svg' %}">
                                        </figure>
                                    </div>
                                    <h1 class="title is-5">Nope!</h1>
                                </div>
                                <div class="column is-vcentered-content">
                                    <h2 class="subtitle is-6">Don't like?<br>Don't Worry.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div id="card-eat" class="box hide">
                            <div class="columns">
                                <div class="column is-5 has-text-centered">
                                    <div class="box has-background-primary icon-box has-image-centered">
                                        <figure class="image is-48x48 has-image-centered">
                                            <img class="action-icons" src="{% static 'baseapp/assets/icons/heart.svg' %}">
                                        </figure>
                                    </div>
                                    <h1 class="title is-5">Eat!</h1>
                                </div>
                                <div class="column is-vcentered-content">
                                    <h2 class="subtitle is-6">Easy decision,<br>yummy session.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div id="card-yup" class="box hide">
                            <div class="columns">
                                <div class="column is-5 has-text-centered">
                                    <div class="box has-background-primary icon-box has-image-centered">
                                        <figure class="image is-48x48 has-image-centered">
                                            <img class="action-icons" src="{% static 'baseapp/assets/icons/like.svg' %}">
                                        </figure>
                                    </div>
                                    <h1 class="title is-5">Yup!</h1>
                                </div>
                                <div class="column is-vcentered-content">
                                    <h2 class="subtitle is-6">You like?<br>We'll give you more.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="footer" class="section has-background-grey-darker">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <h1 class="title is-1 has-text-white">tindero</h1>
            </div>
            <div class="column has-text-centered">
                <p class="has-text-white">
                    Made with 💖<br>
                    Group #4<br>
                    ChannelFix Internship 2018
                </p>
            </div>
            <div class="column has-text-centered">
                <p class="has-text-white"></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block script %}
<script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
<script type="text/javascript">

    $(window).scroll(function() {
       var hT = $('#footer').offset().top,
           hH = $('#footer').outerHeight(),
           wH = $(window).height(),
           wS = $(this).scrollTop();
        if (wS > (hT+hH-wH)){
            $('#card-nope').removeClass("hide");
            $('#card-eat').removeClass("hide");
            $('#card-yup').removeClass("hide");
            $('#card-nope').addClass("animated fadeInLeft delay-03s");
            $('#card-eat').addClass("animated fadeInLeft delay-06s");
            $('#card-yup').addClass("animated fadeInLeft delay-09s");
       }
    });

    Vue.use(VeeValidate);

    var app = new Vue({
        el: '#landing-page',
        delimiters: ['${', '}'],
        data: {
            activeSignUpBusiness: false,
            activeSignUpConsumer: false,
            activeLogin: false,
            username: '',
            email: '',
            accountType: '',
            errors_login: '',
            errors_signup_consumer_username: '',
            errors_signup_consumer_password2: '',
            errors_signup_business_username: '',
            errors_signup_business_password2: '',
            seekAttBtnLogin: false,
        },
        methods: {
            openSignUpModal: function() {
                if (this.accountType == "business account") {
                    this.activeSignUpBusiness = true;
                } else if (this.accountType == "consumer account") {
                    this.activeSignUpConsumer = true;
                }
            },
            closeSignUpModal: function() {
                this.activeSignUpConsumer = false;
                this.activeSignUpBusiness = false;
            },
            openLoginModal: function() {
                this.activeLogin = true;
            },
            closeLoginModal: function() {
                this.activeLogin = false;
            },
            doLogin: function(e) {
                loginObject = {
                    "username": document.getElementById('id_username').value,
                    "password": document.getElementById('id_password').value
                }

                var request = new XMLHttpRequest();
                request.onreadystatechange = function() {
                    if (request.readyState == XMLHttpRequest.DONE) {
                        var response = JSON.parse(request.response)
                        if (response.status == 'success') {
                            window.open(response.url, "_self");
                        } else {
                            console.log(response.errors.__all__[0])
                            app.errors_login = response.errors.__all__[0];
                        }
                    }
                };
                request.open('POST', 'login/', true);
                request.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                request.send(JSON.stringify(loginObject));
            },
            doSignUpConsumer: function(e) {
                signupObject = {
                    "username": e.target[1].value,
                    "email": e.target[2].value,
                    "userType": e.target[3].value,
                    "password1": e.target[4].value,
                    "password2": e.target[5].value
                }

                var request = new XMLHttpRequest();
                request.onreadystatechange = function() {
                    if (request.readyState == XMLHttpRequest.DONE) {
                        var response = JSON.parse(request.response)
                        if (response.status == 'success') {
                            window.open(response.url, "_self");
                        } else {
                            console.log(response);
                            if (response.errors.username != null) {
                                app.errors_signup_consumer_username = response.errors.username[0];
                            } else {
                                app.errors_signup_consumer_username = "";
                            }
                            if (response.errors.password2 != null) {
                                app.errors_signup_consumer_password2 = response.errors.password2[0];
                            } else {
                                app.errors_signup_consumer_username = "";
                            }
                        }
                    }
                };
                request.open('POST', 'signup-consumer/', true);
                request.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                request.send(JSON.stringify(signupObject));
            },
            doSignUpBusiness: function(e) {
                signupObject = {
                    "username": e.target[1].value,
                    "email": e.target[2].value,
                    "userType": e.target[3].value,
                    "password1": e.target[4].value,
                    "password2": e.target[5].value,
                    "branch_name": e.target[6].value,
                    "company_name": e.target[7].value
                }

                var request = new XMLHttpRequest();
                request.onreadystatechange = function() {
                    if (request.readyState == XMLHttpRequest.DONE) {
                        var response = JSON.parse(request.response)
                        if (response.status == 'success') {
                            window.open(response.url, "_self");
                        } else {
                            if (response.errors.username != null) {
                                app.errors_signup_business_username = response.errors.username[0];
                            } else {
                                app.errors_signup_business_username = "";
                            }
                            if (response.errors.password2 != null) {
                                app.errors_signup_business_password2 = response.errors.password2[0];
                            } else {
                                app.errors_signup_business_password2 = "";
                            }
                        }
                    }
                };
                request.open('POST', 'signup-business/', true);
                request.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                request.send(JSON.stringify(signupObject));
            },
        },
        computed: {
            isCompleteForm: function() {
                return this.username && this.email && this.accountType && (this.errors.items.length == 0);
            }
        }
    });
</script>
{% endblock %}


















