{% extends "baseapp/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'baseapp/products-list-style.css' %}">
{% endblock %}

{% block title %}Products List{% endblock %}

{% block content %}
<section id="business-products-list" class="hero is-fullheight has-background-custom-white is-vcentered-content">
    <div class="container is-fluid">
        <section class="box products-list-container">
            <div class="columns">
                <div class="column is-vcentered-content has-text-left">
                    <button class="button is-info is-one-third btn-dashboard">
                        <a href="/business/dashboard" class="has-text-white">Dashboard</a>
                    </button>
                </div>
                <div class="column is-vcentered-content has-text-centered">
                    <h1 class="title is-4 has-text-grey-darker">Products List</h1>
                    <h2 class="subtitle is-5 has-text-black">{{ business.branch_name }}</h2>
                </div>
                <div class="column is-vcentered-content has-text-right">
                    <span class="has-text-right">
                        <button class="button is-primary is-one-third btn-dashboard">
                            <a href="/business/add-product" class="has-text-white">Add Product</a>
                        </button>
                    </span>
                </div>
            </div>

            <div class="table-container">
                <table class="table is-striped is-hoverable">
                    <thead class="table__head">
                        <tr>
                            <th class="">ID</th>
                            <th class="">Name</th>
                            <th class="">Price</th>
                            <th class="">Description</th>
                            <th class="">Tags</th>
                            <th class="">Nopes</th>
                            <th class="">Eats</th>
                            <th class="">Yups</th>
                        </tr>
                    </thead>
                    <tbody class="table__body">
                        {% for food in foods %}
                            <tr>
                                <td class="col-id">{{ food.food_id }}</td>
                                <td class="col-name">{{ food.food_name }}</td>
                                <td class="col-price">P {{ food.food_price }}</td>
                                <td class="col-desc">{{ food.food_desc }}</td>
                                <td class="col-tag">{{ food.food_tag }}</td>
                                <td class="col-rate">{{ food.nope }}</td>
                                <td class="col-rate">{{ food.eat }}</td>
                                <td class="col-rate">{{ food.yup }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </section>

    </div>
</section>
{% endblock %}


{% block script %}
<script type="text/javascript">
    var app = new Vue({
        el: '#business-products-list',
        delimiters: ['${', '}'],
        data: {

        },
        methods: {

        },
        computed: {

        }
    });
</script>
{% endblock %}