{% extends 'baseapp/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<p><a href="{% url 'baseapp:feed' %}"><button>Back</button></a></p>
<h1>Profile</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Name: {{ profile_form.first_name }}</p>
    <p>Birthday: {{ profile_form.bDay }}</p>
    <p>{{ image_form }}</p>
    <p><input type="submit" name="save_profile" value="Save" /></p>
</form>
<div class="modal" id="modalCrop">
    <div class="modal-card modal-card-signupBusiness">
        <div class="modal-card-body is-vcentered">
            <div class="columns is-multiline">
                <div class="column is-full">
                    <h1 class="title has-text-primary has-text-centered is 4-p-b-mg">Crop the photo</h1>
                    <img src="" id="image" style="max-width: 100%;">
                    <div class="field has-text-centered">
                    <button type="button" class="button is-primary is-half is-rounded is-shadowed m-t-md js-crop-and-upload">Crop and upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_file").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 1,
          aspectRatio: 1/1,
          minCropBoxWidth: 128,
          minCropBoxHeight: 128,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
          }
        });
      }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
      });

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        // $("#formUpload").submit();
        $("#modalCrop").modal('toggle');
      });

    });
</script>



{% endblock %}